/* this is body section */
body{
    font-family: 'Open Sans', sans-serif;
}

/* this is banner section */
.banner-container{
    background-color: #FFE0B5;
}

/* thie is banner column */
.banner-column{
    background-color: #FF9843;
}


/* this is about section */
.about-container{
    background-color: #CDFADB;
}

/* this is experience section */
.experience-container{
    background-color: #F6FDC3;
}

/* this is skills section */
.skills-container{
    background-color: #CDFADB;
}

.education-container{
    background-color: #F6FDC3;
}

.circle{
    background-color: #FFD0EC;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* this is navbar section */
.nav-item:hover{
    background-color: #FFF7F1;
    border-radius: 10px;
}

/* this is project section */
.project-container{
    background-color: #F6FDC3;
}

/* this is services section */
.services-container{
    background-color: #CDFADB;
}


/* this is gallery section */
.carousel-item img{
    width: 100%!important;
    height: 80vh!important;
}
.gallery-container{
    background-color: #CDFADB;
}

.brandingWrapper{
    display: none;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-container{
    background-color: #25274d;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-4{
    background: #712CF9;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-8{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #198754;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
.icon-lists{
    color: black!important;
}
.icon-lists:hover{
    background-color: white;
    border-radius: 5px;
    
}
.icons:hover{
    background-color: #198452;
    border-radius: 5px;
}



